body {
    background-color: black;
    color: white;
}

p {
    display: flex;
    justify-content: center;
}

button {
    margin: 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    padding: 20px;
}